

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}



.navbar img {
    width: 50px;
    height: auto;
}


.header{
    display: flex;
     background-image:url(../MTproject/images/capitoll.png);
     align-items: center;   
     width: 100%;
     height: 500px;
     background-size: cover;
     background-position-y: 35%

}


.header .texthead {
    color: white;
    margin-left: 100px;
}


.header h1{
    font-size: 48px; 
}


.header p{
    font-size: 20px; 
}



.explore{
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
    background-color: blue; 
    height: 50px;
    width: 120px;
    border-radius: 5px; 
   
}

.explore ul{
    list-style: none;
    margin: 0;
    padding: 0;
  
   
}



.explore a {
   text-decoration: none;
   color: white;  
   font-weight: bold;      


}




body {
    background-color: rgb(207, 80, 114);
}


.about-me {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    height: auto;   
    width: 80%;
    margin-left: auto;
    margin-top: 9%;
    padding: 20px;
    background-color: white;
    box-shadow: 5px 5px  rgba(0, 0, 0, 0.2);
}





.imageinside img {
    flex-wrap: wrap;
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-left: 20px auto;
    justify-self: left;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    
}



.text{
    flex: 1;
    margin-left: 2%;
}


.text h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
}


.text h2 {
    font-size: 24px;
    color: #888;
    margin: 10px 0;
}


.text p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}


.FB img{
   height: 30px;
   width: 30px;
}








.navbar img {
    width: 50px;
    height: auto;
}


.navbar{
     
    display: flex;
    background-color: rgb(38, 34, 34);
    width: 100% auto;
    
}


.navbar ul {
     list-style: none;
     display:flex;
     justify-content: space-evenly;     
     flex-flow: wrap-reverse;
   
}


.navbar ul li a {

     display: block;
     padding: 14px 20px;
     text-decoration: none;
     color: rgb(255, 255, 255);
     transition: background 0.3    , color 0.3s;
     
}


.navbar ul li a:hover {
     background: red;
     color:rgb(255, 255, 255);
      
}

.foot{
    background-color:  rgb(38, 34, 34);
    color: white;
    width: 100%;
    height: auto;
    text-align: center;
    font-family:'Courier New', Courier, monospace
    

}




.foot{
    flex-wrap: wrap;
    background-color:  rgb(38, 34, 34);
    color: white;
    width: 100%;
    height: auto;
    text-align: center;
    font-family:'Courier New', Courier, monospace
    

}
