
/* NAVIGATIONNNNNNN */
.navbar{
     
    display: flex;
    background-color: rgb(38, 34, 34);
    width: 100%;
    position: fixed;
}


.navbar ul {
     list-style: none;
     display:flex;
     justify-content: space-evenly;     
     flex-flow: wrap-reverse;
   
}


.navbar ul li a {

     display: block;
     padding: 14px 20px;
     text-decoration: none;
     color: rgb(255, 255, 255);
     transition: background 0.3    , color 0.3s;
     
}


.navbar ul li a:hover {
     background: red;
     color:rgb(255, 255, 255);
      
}

.navbar ul li {
    background-color: rgb(38, 34, 34);
    color: white;
}


/* NAVIGATION */









/* HEADER */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}


html {
    scroll-behavior: smooth;
}

.navbar img {
    width: 50px;
    height: auto;
}


.header{
    display: flex;
     background-image:url(../MTproject/images/capitoll.png);
     align-items: center;   
     width: 100%;
     height: 500px;
     background-size: cover;
     background-position-y: 35%
}


.header .texthead {
    color: white;
    margin-left: 100px;
}


.header h1{
    font-size: 48px; 
}


.header p{
    font-size: 20px; 
}



.explore{
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
    background-color: blue; 
    height: 50px;
    width: 120px;
    border-radius: 5px; 
   
}

.explore ul{
    list-style: none;
    margin: 0;
    padding: 0;
  
   
}



.explore a {
   text-decoration: none;
   color: white;  
   font-weight: bold;      


}
/* HEADERRR */












/* JAY TENGA ETOY */
.middle{
   display:flex;
      flex-wrap: wrap;
   flex-direction: column;
   background-color: azure;
   box-shadow: -2px 5px 5px 5px rgba(0, 0, 0, 0.2);
   width: 80%;  
   height: 80%;
   margin-left: 2%;
   margin-top: 30px;
   padding: 40px;
   border-radius: 10px;

}




.lc h1 {
  text-align: center;    
  margin-bottom: 15px;
  font-size: 40px;
  text-shadow: 1px 1px 3px grey;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 45px;
}



.H31{
     color: red;
}

.H32{
     color: blue;
}

.H33{
     color: orange;
}


.H31, .H32, .H33 {
    font-size: 32px;
    margin: 10px 0;
    margin-left: 50px;
    font-family: cursive;
}




.para {
  color: brown;
  margin-top: 5%;
  text-align: justify;
  font-size: 20px;
  padding: 0 50px ; 
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.para p{
    margin-bottom: 50px;
}
/* JAY TENGA ETOY */






/* TOURISTTTTT */
.Tourist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;

}


.imagess{
    background: #fff;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    text-align: center;
    box-shadow: -2px 5px 5px 5px rgba(0, 0, 0, 0.2);

}


.imagess img {
    border: 1px solid #333;
    width: 90%;
    height: auto;
    background-size: cover;
    margin-top: 20px;      
}

.imagess p{
    font-weight: bold;
}


.imagess img:hover{
     transform: scale(1.08);
}
/* TOURISTTTTTTTTTT */




@media (max-width: 390) {
    body {
        background-color: azure;
    }


     .navbar{
      justify-content: center;
      flex-direction: row;
      align-content: center;
    }
    



}
     


  

































.foot{
    flex-wrap: wrap;
    background-color:  rgb(38, 34, 34);
    color: white;
    width: 100%;
    height: auto;
    text-align: center;
    font-family:'Courier New', Courier, monospace
    


}
